body{
        background-image: url(img-recomendacoes/filmes.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
}



img{
        margin-left: 93px;
        margin-top: 64px;
}

.titulo{
                font-family: 'Inter', sans-serif;
                font-weight: bold;     
                font-size: 96px;
                line-height: 40px;
                color: #D7F3FF;
                text-align: center;
              
        
       
}


.filmes{

                font-family: 'Inter', sans-serif;
                font-weight: 600;       
                font-size: 32px;
                line-height: 40px;
                letter-spacing: 0;
                color: #FFFFFF;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                
                position: relative;
                margin: 63px 0 60px 90px;
                
              
              
}



.documentario{

        font-family: 'Inter', sans-serif;
        font-weight: 600;       
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 0;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        position: relative;
         margin: 63px 0 60px 90px;
        
}

.filmesum{

        display: flex;
        align-items: center;
        justify-content: center;
        opacity: .9;
        gap: 212px;

}


.filmesdois {
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: .9;
        gap: 212px;
}


body {
        margin: 0;
        font-family: Arial, sans-serif;
       
        color: white;
      }
      



     


      body {
        margin: 0;
        font-family: Arial, sans-serif;
        
        color: white;
      }
      
      /* Botão hamburguer */
      .hamburguer {
        position:absolute;
       margin: 14px 0 0 93px;
        z-index: 1001;
        cursor: pointer;
        font-size: 28px;
        color: white;
        background: none;
        border: none;
        

      }
      
      /* Menu lateral */
      .menu {
        position: fixed;
        top: 0;
        right: -250px; /* escondido fora da tela */
        width: 250px;
        height: 100%;
        background: #e0f7fa;
        box-shadow: -2px 0 8px rgba(0, 0, 0, 0.3);
        padding-top: 60px;
        transition: right 0.3s ease-in-out;
        z-index: 1000;
      }
      
      .menu.active {
        right: 0; /* aparece */
      }
      
      .menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      
      .menu ul li {
        padding: 15px 20px;
        border-bottom: 1px solid #ccc;
      }
      
      .menu ul li a {
        text-decoration: none;
        color: #022c43;
        font-size: 18px;
        display: block;
      }
      
      /* Botão X no canto direito */
      .close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 28px;
        cursor: pointer;
        color: #022c43;
        font-weight: bold;
      }

