* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter;
}

body {
    background-image: url(home/fundo-home.png);
    background-size: cover;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}

h1 {
    color: #3D7290;
    font-size: 96px;
    margin-left: 93px;
    text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.562);
}

h2{
    color: white;
    font-size: 32px;
    margin-left: 93px;
    margin-top: 150px;
    font-weight: 300;
    text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.562);
}

.texto {
    border-left: white solid 4px;
    margin-left: 93px;
    padding-left: 20px;
    padding-block: 15px;
}

p {
    color: white;
    width: 700px;
    font-size: 18px;
    text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.562);
}

img{
    margin-left: 93px;
    margin-top: 64px;
}

.comece {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
    background-color: #3D7290;
    color: white;
    border-radius: 50px;
    padding: 20px;
    border: none;
    font-size: 28px;
    font-weight: 500;
    box-shadow: 0px 2px 8px rgba(255, 255, 255, 0.707);
}

.hamburguer {
    display: flex;
    margin-right: 93px;
    margin-top: 64px;
    position:absolute;
    margin: 14px 0 0 93px;
    z-index: 1001;
    cursor: pointer;
    font-size: 28px;
    color: white;
    background: none;
    border: none;
}

.menu {
    position: fixed;
    top: 0;
    right: -250px; /* escondido fora da tela */
    width: 250px;
    height: 100%;
    background: #e0f7fa;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.3);
    padding-top: 60px;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
}

.menu.active {
    right: 0; /* aparece */
  }
  
.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.menu ul li {
    padding: 15px 20px;
    border-bottom: 1px solid #ccc;
}
  
.menu ul li a {
    text-decoration: none;
    color: #022c43;
    font-size: 18px;
    display: block;
}
  
.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    cursor: pointer;
    color: #022c43;
    font-weight: bold;
}