* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter';
  }
  
  .header {
    width: 100%;
    padding: 30px 50px;
    position: relative;
    z-index: 10;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    padding-left: 10px;
  }
  
  .menu-toggle {
    padding-right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .menu-toggle span {
    width: 28px;
    height: 2px;
    background: white;
  }
  
  body {
    font-family: "Inter";
    position: relative;
    color: white;
  }
  
  body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: url("/img/conteúdo.png") center/cover no-repeat;
    z-index: -1;
  }
  
  /* Menu Hamburhguer */
  .hamburguer {
    margin-top: 15px;
    margin-right: 100px;
    z-index: 1001;
    cursor: pointer;
    color: white;
    background: none;
    border: none;
    width: 130px;
    font-size: 50px;
    
}

.menu {
    position: fixed;
    top: 0;
    right: -30rem; /* escondido inicialmente (-250px) */
    width: 30rem;  
    height: 100%;
    background: #e0f7fa;
    box-shadow: -0.125rem 0 0.5rem rgba(0, 0, 0, 0.3);
    padding-top: 3.75rem; /* espaço no topo */
    transition: right 0.3s ease-in-out;
    z-index: 1000;
}
  
.menu.active {
    right: 0; 
}
  
.hamburguer.active button{
    color: #137299;  
}
  
.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.menu li{
    margin-top: 10rem;
    margin-bottom: -10rem;
    margin-left: 3rem;
    font-size: 3.5rem;
  
}
  
.menu button{
    font-weight: 200;
    color:  #137299;
}
  
.menu ul a {
    margin-bottom: - 2rem;
    margin-top: 4rem;
    text-decoration: none;
    color:  #137299;
    font-size: 2rem;
    font-weight: 700;
    padding: 0.1rem;
}
  
.close-btn {
    position: absolute;
    top: 1rem;
    left: 1rem;
    margin-left: 1.8rem;
    margin-top: 2.2rem;
    font-size: 3rem;
    cursor: pointer;
    color: #137299;
    font-weight: 300;
    border: none;
    background: none;
}
  
  .titulo {
    margin-top: 0;
    font-family: "Inter", sans-serif;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .banner {
    width: 100%;
    min-height: 260px;
    background: url('/img/conteúdo.png') center/cover no-repeat;
      background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    color: white;
  }
  
  .banner .small-text {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 0px;
    text-transform: uppercase;
  }
  
  .banner h1 {
    font-family: "Inter", sans-serif;
    font-size: 50px; 
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.2;
  }
  
  .banner .banner-text {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    max-width: 600px;
    line-height: 1.6;
  }
  
  
  .categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    max-width: 800px;
    margin: 60px auto;
    padding: 0 20px;
  }
  
  
  .card-container {
    position: relative;
    text-align: center;
  }
  
  .card {
    background: url('/img/Rectangle 31.png') center/cover no-repeat;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
    padding-bottom: 70px;
  }
  
  .card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
    border-radius: 12px 12px 0 0;
    margin-bottom: 0;
  }
  
  .card h3 {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 900;
    margin: 10px 0;
    text-transform: uppercase;
    color: #3d3d3d;
  }
  
  .card-container button {
    background: #3d7290;
    color: #fff;
    border: none;
    border-radius: 20px;
    width: 150px;
    height: 40px;
    font-size: 19px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s;
    font-family: "Montserrat", sans-serif;
  
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translateX(-50%);
    z-index: 10;
  }
  
  .card-container button:hover {
    background: #3d7290;
  }
  
  
  footer {
    text-align: center;
    padding: 40px 20px;
  }
  
  footer .cta-button {
    display: inline-block;
    background: #3d7290;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    width: 250px;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }
  
  footer .cta-button:hover {
    background: #3d7290;
  }
  
  @media (max-width: 768px) {
    .categories {
      grid-template-columns: 1fr;
    }
  }
  
  .hamburguer {
    margin-top: 15px;
    margin-right: 100px;
    z-index: 1001;
    cursor: pointer;
    color: white;
    background: none;
    border: none;
    width: 130px;
    font-size: 50px;
    
}

.menu {
    position: fixed;
    top: 0;
    right: -30rem; /* escondido inicialmente (-250px) */
    width: 30rem;  
    height: 100%;
    background: #e0f7fa;
    box-shadow: -0.125rem 0 0.5rem rgba(0, 0, 0, 0.3);
    padding-top: 3.75rem; /* espaço no topo */
    transition: right 0.3s ease-in-out;
    z-index: 1000;
}
  
.menu.active {
    right: 0; 
}
  
.hamburguer.active button{
    color: #137299;  
}
  
.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.menu li{
    margin-top: 10rem;
    margin-bottom: -10rem;
    margin-left: 3rem;
    font-size: 3.5rem;
  
}
  
.menu button{
    font-weight: 200;
    color:  #137299;
}
  
.menu ul a {
    margin-bottom: - 2rem;
    margin-top: 4rem;
    text-decoration: none;
    color:  #137299;
    font-size: 2rem;
    font-weight: 700;
    padding: 0.1rem;
}
  
.close-btn {
    position: absolute;
    top: 1rem;
    left: 1rem;
    margin-left: 1.8rem;
    margin-top: 2.2rem;
    font-size: 3rem;
    cursor: pointer;
    color: #137299;
    font-weight: 300;
    border: none;
    background: none;
} 
  
.h1red{
    color: #137299;
    font-size: 2rem;
    margin-top: 30rem;
    margin-bottom: -3.3rem;
    margin-left: 3rem;
    align-items: center;  
}
  
.renemo{
    position: relative;     
    display: inline-block;
}
  
.r1{
    background-color: #5a87a0;
    color: white;
    border: none;
    padding: 0.625rem 1.5625rem;
    border-radius: 1.25rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    margin: 0.625rem 0 0.9375rem 0;
    transition: background 0.3s ease;
    position: absolute;
    bottom: -2rem;
    right: 1.5rem; 
    text-decoration: none;
}
  
/* ----------- reja ----------- */
.reja{
    position: relative;     
    display: inline-block;
}
  
.reja img{
    display: block;
    width: 10rem;            
    border-radius: 2rem;
}
  
.r2{
    background-color: #5a87a0;
    color: white;
    border: none;
    padding: 0.625rem 1.5625rem;
    border-radius: 1.25rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    margin: 0.625rem 0 0.9375rem 0;
    transition: background 0.3s ease;
    position: absolute;
    bottom: -2rem;
    right: 1.5rem; 
    text-decoration: none;
}
  
  /* ----------- reinto ----------- */
.reinto{
    position: relative;     
    display: inline-block;
}
  
.reinto img{
    display: block;
    width: 10rem;            
    border-radius: 2rem;
}
  
.r3{
    background-color: #5a87a0;
    color: white;
    border: none;
    padding: 0.625rem 1.5625rem;
    border-radius: 1.25rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    margin: 0.625rem 0 0.9375rem 0;
    transition: background 0.3s ease;
    position: absolute;
    bottom: -2rem;
    right: 1.5rem; 
    text-decoration: none;
  
}
  
  /* ----------- reocean ----------- */
.reoce{
    position: relative;     
    display: inline-block;
}
  
.reoce img{
    display: block;
    width: 10rem;            
    border-radius: 2rem;
}
  
.r4{
    background-color: #5a87a0;
    color: white;
    border: none;
    padding: 0.625rem 1.5625rem;
    border-radius: 1.25rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    margin: 0.625rem 0 0.9375rem 0;
    transition: background 0.3s ease;
    position: absolute;
    bottom: -2rem;
    right: 1.5rem; 
    text-decoration: none;
  
}
   

.remy{
    position: relative;     
    display: inline-block;
}
  
.remy img{
    display: block;
    width: 10rem;            
    border-radius: 2rem;
}
  
.r5{
    background-color: #5a87a0;
    color: white;
    border: none;
    padding: 0.625rem 1.5625rem;
    border-radius: 1.25rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    margin: 0.625rem 0 0.9375rem 0;
    transition: background 0.3s ease;
    position: absolute;
    bottom: -2rem;
    right: 1.5rem;
    text-decoration: none;
   
}
  
  /* ----------- reco ----------- */
.reco{
    position: relative;     
    display: inline-block;
  }
  
  .reco img{
    display: block;
    width: 10rem;            
    border-radius: 2rem;
}
  
.r6{
    background-color: #5a87a0;
    color: white;
    border: none;
    padding: 0.625rem 1.5625rem;
    border-radius: 1.25rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    margin: 0.625rem 0 0.9375rem 0;
    transition: background 0.3s ease;
    position: absolute;
    bottom: -2rem;
    right: 1.5rem; 
    text-decoration: none;
}