
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #c9ecff;
  }
  
  
  .topo {
    background-color: #b9e3ff;
    display: flex;
    padding: 15px;
    align-items: center;
  }
  
  
  .personagem {
    text-align: center;
  }
  
  .personagem img {
    width: 80px;
  }
  
  .nome {
    margin: 0;
    font-size: 14px;
  }
  
  
  .texto-pergunta {
    margin-left: 15px;
    font-size: 18px;
    color: #000;
  }
  
  
  .meio {
    flex: 1;
    display: flex;
    padding: 40px;
    align-items: flex-start;
    gap: 30px;
  
    background-image: url("/img/img-jogo/foto\ fundo\ jogo.png");
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
    min-height: 0;
  }
  
  
  .golfinho {
    width: 150px;
    align-self: center;
  }
  
 
  .opcoes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
  }
  
  .opcoes button {
    background-color: #c9ecff;
    border: none;
    border-radius: 15px;
    padding: 15px;
    font-size: 20px;
    text-align: left;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    transition: 0.3s;
  }
  
  .opcoes button:hover {
    background-color: #aee0ff;
  }
  
  
  footer {
    padding: 15px;
    text-align: left;
    background: transparent;
  }
  
  .sair {
    color: rgb(15, 15, 15);
    text-decoration: none;
    font-size: 16px;
  }
  



.fala-golfinho {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
  }
  
  .balao {
    background: #cce7f9;
    padding: 15px 20px;
    border-radius: 20px;
    position: relative;
    font-size: 18px;
    max-width: 280px;
    text-align: center;
  }
  
  .balao::after {
    content: "";
    position: absolute;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
    border: 15px solid transparent;
    border-right-color: #cce7f9;
  }
  