
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("/img/img-jogo/foto\ fundo\ jogo.png");
  }
  
  /* Topo fixo */
  .topo {
    background-color: #c9ecff;
    display: flex;
    padding: 15px;
    align-items: center;
    height: 30vh;
  }
  
  /* Estrela + nome */
  .personagem {
    text-align: center;
  }
  
  .personagem img {
    width: 80px;
    transform: scale(1.5); 
    margin-left: 5rem;

  }
  
  .nome {
    margin: 0;
    font-size: 14px;
  }
  
  
  .texto-pergunta {
    margin-left: 15rem;
    font-size: 2rem;
    color: #00273D;
  }
  
  
  .meio {
    flex: 1;
    display: flex;
    padding: 40px;
    align-items: flex-start;
    gap: 30px;
  
    background-image: url("/img/img-jogo/foto\ fundo\ jogo.png");
    height: 100vh;
    
  }
  
  
  .golfinho {
    margin-top: 15rem;
    width: 150px;
    align-self: center;
    transform: scale(6.0); 
  }
  
 
  .opcoes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
  }
  
  .opcoes button {
    background-color: #c9ecff;
    border: none;
    border-radius: 15px;
    padding: 15px;
    font-size: 20px;
    text-align: left;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    transition: 0.3s;
  }
  
  .opcoes button:hover {
    background-color: #aee0ff;
  }
  
  /* Rodapé */
  .sair{
    color: #D7F3FF;
    padding: 15px;
    text-align: left;
    text-decoration: none;
    border-radius: 12px;
    font-size: 2rem;

  }
  

  



.fala-golfinho {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 60px;
    margin: 0 auto;       
    width: 900px;
  }
  
