* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root{
    font-size: 62.5%;
}

   body {
    font-family: 'Arial', sans-serif;
    color: white;
    text-align: center;
    padding: 20px;
    background-color: #012a3d;
   
  
    background-image: url("/img/img-jogo/foto\ fundo\ jogo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 99vw;
  }



 .titulo{
  font-size: 5.6rem;
  margin-top: -2rem;
  color: #d2f1ff;
 }
  


   
 .intro {
  font-size: 2rem;
  line-height: 1.6;
  margin-top: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 5rem;
}

.introdois{
  font-size: 1.5rem;
}

.introtres{
  font-size: 1.5rem;
}


  
.logo {
  font-size: 24px;
  font-weight: bold;
}

.vivo {
  color: #d2f1ff;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
}

 

  
  h2 {
    font-size: 20px;
    margin: 30px 0 20px;
    font-weight: bold;
  }
  
  h3 {
    font-size: 18px;
    margin: 20px 0;
  }
  
  .geralperso{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 2rem;
    flex-wrap: wrap;
    margin-left: -10rem;
  }

  .persoum{
    text-align: center;
  }

  .persoum img{
    width: 11rem;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .persoum p{
    margin-top: -3rem;
    font-size: 1.2rem;
    color: white;
  }




  .persodois{
    text-align: center;
  }

  .persodois img{
    width: 11rem;
    height: auto;
    
    margin-top: 2rem;
  }

  .persodois p{
    margin-top: -3rem;
    font-size: 1.2rem;
    color: white;
  }
  



  .persotres{
    text-align: center;
  }

  .persotres img{
    width: 11rem;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .persotres p{
    margin-top: 0.5rem;
    margin-bottom: -1rem;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
  }

  .persoquatro{
    text-align: center;
  }

  .persoquatro img{

    width: 8rem;
    height: auto;
   margin-right: -10rem;
   
  }

  .persoquatro p{
    margin-top: -0.01rem;
    font-size: 1.2rem;
    color: white;
    margin-bottom: -1.5rem;
    margin-left: 3rem;
    margin-right: -8rem;
  }

  .hamburguer {
    margin-top: 1.5rem;
    margin-right: 1rem;
    z-index: 1001;
    cursor: pointer;
    color: white;
    background: none;
    border: none;
    width: 13rem;
    font-size: 5rem;
  }
  
  
  
  .menu {
    position: fixed;
    top: 0;
    right: -48rem; 
    width: 40.4rem;   
    height: 100%;
    background: #e0f7fa;
    box-shadow: -0.2rem 0 0.8rem rgba(0, 0, 0, 0.3);
    padding-top: 6rem;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    
  }
  
  .menu.active {
    right: 0; 
  }
  
   .hamburguer.active{
    color: #137299;  
   
  }


  
  
  
  .menu ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: -20rem;
  }
  

  .home{
    margin-top: 14rem;
    margin-bottom: 20rem;
    margin-left: -5rem;
    
  
  }


  .conteudo{
    margin-top: -18rem;
    margin-bottom: 20rem;
    margin-left: 1rem;
   
  }

  .fundo{
    margin-top: -18rem;
    margin-bottom: 20rem;
    margin-left: 8rem;
    
  }



  .recomen{
    margin-top: -18rem;
    margin-bottom: 20rem;
    margin-left: 12rem;
   
  }

  .jogoo{
    margin-top: -18rem;
    margin-bottom: 20rem;
    margin-left: -5.5rem;
   
  }

  
  
  .menu button{
    font-weight: 200;
    color:  #137299;
  }
  
  .menu ul a {
    text-decoration: none;
    color: #137299;
    font-size: 3.2rem;
    font-weight: 600;
    padding: 0.16rem;
  }
  
  
  .close-btn {
    position: absolute;
    top: 1.6rem;
    left: 1.6rem;
    margin-left: 2.88rem;
    margin-top: 3.52rem;
    font-size: 4.8rem;
    cursor: pointer;
    color: #137299;
    font-weight: 300;
    border: none;
    background: none;
  }


  
  
  
  