* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

   body {
    font-family: 'Arial', sans-serif;
    color: white;
    text-align: center;
    padding: 20px;
  
    background-image: url("/img/img-jogo/foto\ fundo\ jogo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  body {
    font-family: 'Arial', sans-serif;
    background-color: #012a3d;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .vivo {
    color: #d2f1ff;
  }
  
  .menu-icon {
    font-size: 24px;
    cursor: pointer;
  }
  
  h1 {
    font-size: 48px;
    margin: 30px 0 20px;
    color: #d2f1ff;
  }
  
  .intro {
    font-size: 16px;
    line-height: 1.6;
    max-width: 700px;
    margin: 0 auto 30px;
  }
  
  h2 {
    font-size: 20px;
    margin: 30px 0 20px;
    font-weight: bold;
  }
  
  h3 {
    font-size: 18px;
    margin: 20px 0;
  }
  
  .characters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 30px;
  }
  
  .character {
    text-align: center;
    text-decoration: none;
    color: white;
    transition: transform 0.3s ease;
  }
  
  .character img {
    width: 90px;
    height: auto;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
  }
  
  .character:hover {
    transform: scale(1.05);
  }
  
  .character p {
    font-weight: bold;
    font-size: 16px;
  }
 
  .hamburguer {
    position: absolute;
    top: 4rem;
    right: 20rem;
    z-index: 1001;
    cursor: pointer;
    color: white;
    background: none;
    border: none;
    width: 4rem;
    font-size: 3.3rem;
    transition: all 0.3s ease-in-out; /* para suavizar a mudança */
  }
  
  
  
  .menu {
    position: fixed;
    top: 0;
    right: -30rem; /* escondido inicialmente (-250px) */
    width: 30rem;  
    height: 100%;
    background: #e0f7fa;
    box-shadow: -0.125rem 0 0.5rem rgba(0, 0, 0, 0.3);
    padding-top: 3.75rem; /* espaço no topo */
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    
  }
  
  .menu.active {
    right: 0; 
             /* nova cor */
  }
  
   .hamburguer.active button{
    color: #137299;  
  }
  
  
  /* Lista do menu */
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu li{
    margin-top: 10rem;
    margin-bottom: -10rem;
    margin-left: 3rem;
    font-size: 3.5rem;
  
  }
  
  .menu button{
    font-weight: 200;
    color:  #137299;
  }
  
  .menu ul a {
    margin-bottom: - 2rem;
    margin-top: 4rem;
    text-decoration: none;
    color:  #137299;
    font-size: 2rem;
    font-weight: 700;
    padding: 0.1rem;
  }
  
  /* Botão fechar */
  .close-btn {
    position: absolute;
    top: 1rem;
    left: 1rem;
    margin-left: 1.5rem;
    margin-top: 3.9rem;
    font-size: 3rem;
    cursor: pointer;
    color: #022c43;
    font-weight: bold;
    border: none;
    background: none;
  }
  
    .h1red{
      color: #137299;
      font-size: 2rem;
      margin-top: 30rem;
     margin-bottom: -3.3rem;
     margin-left: 3rem;
      align-items: center;  
    }
  
  .renemo{
    position: relative;     
    display: inline-block;
  }
  
  .r1{
    background-color: #5a87a0;
    color: white;
    border: none;
    padding: 0.625rem 1.5625rem;
    border-radius: 1.25rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    margin: 0.625rem 0 0.9375rem 0;
    transition: background 0.3s ease;
    position: absolute;
    bottom: -2rem;
    right: 1.5rem; 
    text-decoration: none;
  }
  
  
  
  .reja{
    position: relative;     
    display: inline-block;
  }
  
  .reja img{
    display: block;
    width: 10rem;            
    border-radius: 2rem;
  }
  
  .r2{
    background-color: #5a87a0;
    color: white;
    border: none;
    padding: 0.625rem 1.5625rem;
    border-radius: 1.25rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    margin: 0.625rem 0 0.9375rem 0;
    transition: background 0.3s ease;
    position: absolute;
    bottom: -2rem;
    right: 1.5rem; 
    text-decoration: none;
  }
  
  
  .reinto{
    position: relative;     
    display: inline-block;
  }
  
  .reinto img{
    display: block;
    width: 10rem;            
    border-radius: 2rem;
  }
  
  .r3{
    background-color: #5a87a0;
    color: white;
    border: none;
    padding: 0.625rem 1.5625rem;
    border-radius: 1.25rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    margin: 0.625rem 0 0.9375rem 0;
    transition: background 0.3s ease;
    position: absolute;
    bottom: -2rem;
    right: 1.5rem; 
    text-decoration: none;
  
  }
  
  
  .reoce{
    position: relative;     
    display: inline-block;
  }
  
  .reoce img{
    display: block;
    width: 10rem;            
    border-radius: 2rem;
  }
  
  .r4{
    background-color: #5a87a0;
    color: white;
    border: none;
    padding: 0.625rem 1.5625rem;
    border-radius: 1.25rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    margin: 0.625rem 0 0.9375rem 0;
    transition: background 0.3s ease;
    position: absolute;
    bottom: -2rem;
    right: 1.5rem; 
    text-decoration: none;
  
  }
  
  .remy{
    position: relative;     
    display: inline-block;
  }
  
  .remy img{
    display: block;
    width: 10rem;            
    border-radius: 2rem;
  }
  
  .r5{
    background-color: #5a87a0;
    color: white;
    border: none;
    padding: 0.625rem 1.5625rem;
    border-radius: 1.25rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    margin: 0.625rem 0 0.9375rem 0;
    transition: background 0.3s ease;
    position: absolute;
    bottom: -2rem;
    right: 1.5rem;
    text-decoration: none;
   
  }
  
  
  .reco{
    position: relative;     
    display: inline-block;
  }
  
  .reco img{
    display: block;
    width: 10rem;            
    border-radius: 2rem;
  }
  
  .r6{
    background-color: #5a87a0;
    color: white;
    border: none;
    padding: 0.625rem 1.5625rem;
    border-radius: 1.25rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    margin: 0.625rem 0 0.9375rem 0;
    transition: background 0.3s ease;
    position: absolute;
    bottom: -2rem;
    right: 1.5rem; 
    text-decoration: none;
  }
  
  